@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.card-primary {
		@apply p-3 bg-gray-200 rounded-md font-default;
	}
	.card-secondary {
		@apply p-2 bg-gray-800 border-4 border-white rounded-md shadow-md font-default;
	}

	.text-primary {
		@apply p-3 font-semibold font-default;
	}
	.sub-header-primary {
		@apply px-2 text-lg font-bold text-white bg-blue-500 rounded-md shadow-md font-default;
	}
	.select-primary {
		@apply relative px-2 mt-1 rounded-md shadow-md font-default;
	}
	.grid-cell {
		@apply px-2 font-semibold text-gray-100 bg-gray-800 rounded-sm shadow-md;
	}
	.ability {
		@apply flex items-center justify-center bg-gray-800 border-4 rounded-md shadow-md border-gray-50;
	}

	.menu-card-primary {
		@apply relative transition-all border-4 border-gray-200 rounded-lg shadow-lg cursor-pointer menu-card-pattern hover:shadow-xl hover:-translate-y-2;
	}

	.navbar-pattern {
		background-color: #0a61d6;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231ba0db' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	}
	.menu-card-pattern {
		background-color: #eff5f6;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23c6d3df' fill-opacity='0.17'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
	}
}
